@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px -4px 10px 1px #252617;
  position: relative;
}
header #header__titulo {
  font-size: 4em;
  text-decoration: none;
  color: #b4bf5f;
  font-family: "Cormorant Garamond", serif;
}
header .contenedor__buscador {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 3px #b4bf5f solid;
}
header .contenedor__buscador label {
  display: flex;
  border-left: 2px #b4bf5f solid;
  background-color: #b4bf5f;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
header .contenedor__buscador label #btn__buscadorInicial {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
header .contenedor__buscador #buscadorInicial {
  width: 450px;
  height: 40px;
  font-size: 0.9em;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 25px;
}
header .log__carrito a {
  text-decoration: none;
}
header .log__carrito button {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}
header .log__carrito button img {
  height: 60px;
  width: 60px;
}
header .log__carrito #contador__carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #b4bf5f;
  top: 35%;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  font-weight: bolder;
}
header .log__carrito:hover button {
  color: #252617;
  text-decoration: 2px #b4bf5f underline;
}
header .log__carrito:hover img {
  background-color: #b4bf5f;
  border-radius: 10px;
}
header .log__carrito:hover #contador__carrito {
  background-color: #f8f8f8;
  font-weight: bolder;
}

.contenedor__compra {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 50px 30px 50px;
}
.contenedor__compra img {
  width: 200px;
  height: 250px;
}
.contenedor__compra .compra {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #b4bf5f;
  border-radius: 25px;
}
.contenedor__compra .compra .info__compra #titulo__compra {
  font-size: 1.4em;
  text-decoration: 2px underline #f8f8f8;
}
.contenedor__compra .compra .info__compra #autor__compra {
  font-size: 1.2em;
  font-weight: 500;
}
.contenedor__compra .compra .info__compra #autor__compra a {
  text-decoration: none;
  color: #252617;
}
.contenedor__compra .compra #precio__compra {
  font-size: 1.4em;
  color: #334018;
  text-decoration: solid underline #f8f8f8 2px;
}
.contenedor__compra .compra .eliminar__compra {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: transparent;
}
.contenedor__compra .compra .eliminar__compra img {
  width: 40px;
  height: 40px;
}

.btn__compra {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
}
.btn__compra button {
  width: 200px;
  height: 32px;
  border-radius: 15px;
  background-color: #b4bf5f;
  border: #b4bf5f solid 2px;
  color: #f8f8f8;
  font-size: 1.1em;
}

.compra__vacio {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f8f8;
  font-size: 2em;
  background-color: #b4bf5f;
  border-radius: 25px;
  height: 80vh;
}

footer {
  display: flex;
  flex-direction: column;
}
footer ul {
  list-style: none;
}
footer ul a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-size: 1em;
}
footer ul a:hover {
  text-decoration: underline #252617 1px;
}
footer .main__footer {
  display: flex;
  gap: 150px;
  background-color: #f8f8f8;
  padding: 20px 30px 20px 30px;
}
footer .main__footer li {
  font-size: 0.9em;
}
footer .main__footer #titulo {
  font-size: 1.1em;
}
footer .main__footer .metodosDePago {
  display: flex;
  flex-direction: column;
}
footer .main__footer .metodosDePago img {
  height: 50px;
  width: 70px;
}
footer .linkSociales__footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b4bf5f;
  font-size: 1em;
}
footer .linkSociales__footer .linkSociales {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
footer .linkSociales__footer .linkSociales a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background-color: #f8f8f8;
  border-radius: 50px;
}
footer .linkSociales__footer .linkSociales a img {
  height: 35px;
  width: 35px;
}
footer .copyright__footer {
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8em;
}

/*# sourceMappingURL=shop.css.map */
